{% extends "base.html" %}

{% block title %}10X10 Winter Gems - Play 10X10 Winter Gems On Bear Clicker Game{% endblock %}

{% block meta_description %}
<meta name="description" content="Enjoy 10x10 Winter Gems is a delightful game for kids. To earn fantastic rewards, make perfect block rows and columns.
Colorful gems should be placed in th...">
<link rel="canonical" href="https://bearclicker.net/10x10-winter-gems">
{% endblock %}

{% block og_title %}10X10 Winter Gems - Play 10X10 Winter Gems On Bear Clicker Game{% endblock %}
{% block og_description %}Enjoy 10x10 Winter Gems is a delightful game for kids. To earn fantastic rewards, make perfect block rows and columns.
Colorful gems should be placed in th...{% endblock %}

{% block og_image %}https://bearclicker.net/static/images/games/10x10-winter-gems.jpg{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/10x10-winter-gems-favicon.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/10x10-winter-gems-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-pink-400 via-purple-500 to-indigo-600",
        blob_gradient_1="from-pink-500 to-purple-500",
        blob_gradient_2="from-purple-500 to-indigo-500",
        title_gradient="from-pink-500 via-purple-500 to-indigo-500",
        game_url="/game/10x10-winter-gems",
        title="10X10 Winter Gems",
        description="Enjoy 10x10 Winter Gems is a delightful game for kids. To earn fantastic rewards, make perfect block rows and columns.
Colorful gems should be placed in th...",
        open_in_new_tab=False
    %}
        {% include 'components/hero.html' %}
    {% endwith %}


    <!-- Trending Games Section -->
    {% with current_page='10x10-winter-gems' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}
    
    <!-- FAQ Section -->
    {% include 'components/faq_section.html' %}
</div>
{% endblock %}
