{% extends "base.html" %}

{% block title %}Play 10x10 Farming - Play 10x10 Farming On Cookie Clicke...{% endblock %}

{% block meta_description %}
<meta name="description" content="Enjoy 10x10 Farming grows crops and vegetables and harvests them on your farm. With your intelligence, sow accordingly to never run out of space.
Harvest t...">
<link rel="canonical" href="https://bearclicker.net/10x10-farming">
{% endblock %}

{% block og_title %}Play 10x10 Farming - Play 10x10 Farming On Cookie Clicke...{% endblock %}
{% block og_description %}Enjoy 10x10 Farming grows crops and vegetables and harvests them on your farm. With your intelligence, sow accordingly to never run out of space.
Harvest t...{% endblock %}

{% block og_image %}https://bearclicker.net/static/images/games/10x10-farming.jpg{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/10x10-farming-favicon.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/10x10-farming-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-pink-400 via-purple-500 to-indigo-600",
        blob_gradient_1="from-pink-500 to-purple-500",
        blob_gradient_2="from-purple-500 to-indigo-500",
        title_gradient="from-pink-500 via-purple-500 to-indigo-500",
        game_url="/game/10x10-farming",
        title="10X10 Farming",
        description="Enjoy 10x10 Farming grows crops and vegetables and harvests them on your farm. With your intelligence, sow accordingly to never run out of space.
Harvest t...",
        open_in_new_tab=False
    %}
        {% include 'components/hero.html' %}
    {% endwith %}


    <!-- Trending Games Section -->
    {% with current_page='10x10-farming' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}
    
    <!-- FAQ Section -->
    {% include 'components/faq_section.html' %}
</div>
{% endblock %}
