{% extends "base.html" %}

{% block title %}Alphabet Kitchen - Play Alphabet Kitchen On Bear Clicker Game{% endblock %}

{% block meta_description %}
<meta name="description" content="Enjoy Alphabet Kitchen is a fun game that puts you in a cozy kitchen to make delicious cookies with a variety of ingredients such as frosting, sugar, whippe...">
<link rel="canonical" href="https://bearclicker.net/alphabet-kitchen">
{% endblock %}

{% block og_title %}Alphabet Kitchen - Play Alphabet Kitchen On Bear Clicker Game{% endblock %}
{% block og_description %}Enjoy Alphabet Kitchen is a fun game that puts you in a cozy kitchen to make delicious cookies with a variety of ingredients such as frosting, sugar, whippe...{% endblock %}

{% block og_image %}https://bearclicker.net/static/images/games/alphabet-kitchen.jpg{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/alphabet-kitchen-favicon.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/alphabet-kitchen-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-pink-400 via-purple-500 to-indigo-600",
        blob_gradient_1="from-pink-500 to-purple-500",
        blob_gradient_2="from-purple-500 to-indigo-500",
        title_gradient="from-pink-500 via-purple-500 to-indigo-500",
        game_url="/game/alphabet-kitchen",
        title="Alphabet Kitchen",
        description="Enjoy Alphabet Kitchen is a fun game that puts you in a cozy kitchen to make delicious cookies with a variety of ingredients such as frosting, sugar, whippe...",
        open_in_new_tab=False
    %}
        {% include 'components/hero.html' %}
    {% endwith %}


    <!-- Trending Games Section -->
    {% with current_page='alphabet-kitchen' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}
    
    <!-- FAQ Section -->
    {% include 'components/faq_section.html' %}
</div>
{% endblock %}
