{% extends "base.html" %}

{% block title %}Play Block Blast 3D On Bear Clicker Game{% endblock %}

{% block meta_description %}
<meta name="description" content="Block Blast 3D is a satisfying, strategic puzzle game! Shoot balls to topple 3D block towers. Master angles, plan smart shots, and conquer levels.">
{% endblock %}

{% block og_title %}Play Block Blast 3D On Bear Clicker Game{% endblock %}
{% block og_description %}Block Blast 3D is a satisfying, strategic puzzle game! Shoot balls to topple 3D block towers. Master angles, plan smart shots, and conquer levels.{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/block-blast-3d-favicon.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/block-blast-3d-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-pink-400 via-purple-500 to-indigo-600",
        blob_gradient_1="from-pink-500 to-purple-500",
        blob_gradient_2="from-purple-500 to-indigo-500",
        title_gradient="from-pink-500 via-purple-500 to-indigo-500",
        game_url="https://bearclicker.net/game/block-blast-3d",
        title="Block Blast 3D",
        description="Block Blast 3D is a satisfying, strategic puzzle game! Shoot balls to topple 3D block towers. Master angles, plan smart shots, and conquer levels."
    %}
        {% include 'components/hero.html' %}
    {% endwith %}


    <!-- Trending Games Section -->
    {% with current_page='block-blast-3d' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}
    

    
   <!-- FAQ Section -->
{% include 'components/faq_section.html' %}
</div>
{% endblock %}
