{% extends "base.html" %}

{% block title %}Play Crazy Monsters Memory - Play Crazy Monsters Memory ...{% endblock %}

{% block meta_description %}
<meta name="description" content="Enjoy Crazy Monsters Memory is cute and adorable images waiting for you to flip open. Images are arranged messy in cells, you need to use the mouse to click...">
<link rel="canonical" href="https://bearclicker.net/crazy-monsters-memory">
{% endblock %}

{% block og_title %}Play Crazy Monsters Memory - Play Crazy Monsters Memory ...{% endblock %}
{% block og_description %}Enjoy Crazy Monsters Memory is cute and adorable images waiting for you to flip open. Images are arranged messy in cells, you need to use the mouse to click...{% endblock %}

{% block og_image %}https://bearclicker.net/static/images/games/crazy-monsters-memory.jpg{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/crazy-monsters-memory-favicon.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/crazy-monsters-memory-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-pink-400 via-purple-500 to-indigo-600",
        blob_gradient_1="from-pink-500 to-purple-500",
        blob_gradient_2="from-purple-500 to-indigo-500",
        title_gradient="from-pink-500 via-purple-500 to-indigo-500",
        game_url="/game/crazy-monsters-memory",
        title="Crazy Monsters Memory",
        description="Enjoy Crazy Monsters Memory is cute and adorable images waiting for you to flip open. Images are arranged messy in cells, you need to use the mouse to click...",
        open_in_new_tab=False
    %}
        {% include 'components/hero.html' %}
    {% endwith %}


    <!-- Trending Games Section -->
    {% with current_page='crazy-monsters-memory' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}
    
    <!-- FAQ Section -->
    {% include 'components/faq_section.html' %}
</div>
{% endblock %}
