{% extends "base.html" %}

{% block title %}Doodle Jump - Play Doodle Jump On Bear Clicker Game{% endblock %}

{% block meta_description %}
<meta name="description" content="Enjoy Doodle Jump is a platform game where you control Doodler, an adventurer tasked with jumping onto platforms and dodging obstacles to go as far as possi...">
<link rel="canonical" href="https://bearclicker.net/doodle-jump">
{% endblock %}

{% block og_title %}Doodle Jump - Play Doodle Jump On Bear Clicker Game{% endblock %}
{% block og_description %}Enjoy Doodle Jump is a platform game where you control Doodler, an adventurer tasked with jumping onto platforms and dodging obstacles to go as far as possi...{% endblock %}

{% block og_image %}https://bearclicker.net/static/images/games/doodle-jump.jpg{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/doodle-jump-favicon.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/doodle-jump-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-pink-400 via-purple-500 to-indigo-600",
        blob_gradient_1="from-pink-500 to-purple-500",
        blob_gradient_2="from-purple-500 to-indigo-500",
        title_gradient="from-pink-500 via-purple-500 to-indigo-500",
        game_url="/game/doodle-jump",
        title="Doodle Jump",
        description="Enjoy Doodle Jump is a platform game where you control Doodler, an adventurer tasked with jumping onto platforms and dodging obstacles to go as far as possi...",
        open_in_new_tab=False
    %}
        {% include 'components/hero.html' %}
    {% endwith %}


    <!-- Trending Games Section -->
    {% with current_page='doodle-jump' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}
    
    <!-- FAQ Section -->
    {% include 'components/faq_section.html' %}
</div>
{% endblock %}
