{% extends "base.html" %}

{% block title %}Fallerzio - Play Fallerzio On Bear Clicker Game{% endblock %}

{% block meta_description %}
<meta name="description" content="Enjoy Fallerz.io invites you into the fun space of the game! The course is full of obstacles that pop up out of the ground, terrain that spins clockwise and...">
<link rel="canonical" href="https://bearclicker.net/fallerzio">
{% endblock %}

{% block og_title %}Fallerzio - Play Fallerzio On Bear Clicker Game{% endblock %}
{% block og_description %}Enjoy Fallerz.io invites you into the fun space of the game! The course is full of obstacles that pop up out of the ground, terrain that spins clockwise and...{% endblock %}

{% block og_image %}https://bearclicker.net/static/images/games/fallerzio.jpg{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/fallerzio-favicon.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/fallerzio-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-pink-400 via-purple-500 to-indigo-600",
        blob_gradient_1="from-pink-500 to-purple-500",
        blob_gradient_2="from-purple-500 to-indigo-500",
        title_gradient="from-pink-500 via-purple-500 to-indigo-500",
        game_url="/game/fallerzio",
        title="Fallerzio",
        description="Enjoy Fallerz.io invites you into the fun space of the game! The course is full of obstacles that pop up out of the ground, terrain that spins clockwise and...",
        open_in_new_tab=False
    %}
        {% include 'components/hero.html' %}
    {% endwith %}


    <!-- Trending Games Section -->
    {% with current_page='fallerzio' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}
    
    <!-- FAQ Section -->
    {% include 'components/faq_section.html' %}
</div>
{% endblock %}
