{% extends "base.html" %}

{% block title %}Flyufo Io - Play Flyufo Io On Bear Clicker Game{% endblock %}

{% block meta_description %}
<meta name="description" content="Enjoy FlyUFO io is a game that attracts everything in the city. You take on the task of driving the starship to explore around and find a life for yourself....">
<link rel="canonical" href="https://bearclicker.net/flyufo-io">
{% endblock %}

{% block og_title %}Flyufo Io - Play Flyufo Io On Bear Clicker Game{% endblock %}
{% block og_description %}Enjoy FlyUFO io is a game that attracts everything in the city. You take on the task of driving the starship to explore around and find a life for yourself....{% endblock %}

{% block og_image %}https://bearclicker.net/static/images/games/flyufo-io.jpg{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/flyufo-io-favicon.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/flyufo-io-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-pink-400 via-purple-500 to-indigo-600",
        blob_gradient_1="from-pink-500 to-purple-500",
        blob_gradient_2="from-purple-500 to-indigo-500",
        title_gradient="from-pink-500 via-purple-500 to-indigo-500",
        game_url="/game/flyufo-io",
        title="Flyufo Io",
        description="Enjoy FlyUFO io is a game that attracts everything in the city. You take on the task of driving the starship to explore around and find a life for yourself....",
        open_in_new_tab=False
    %}
        {% include 'components/hero.html' %}
    {% endwith %}


    <!-- Trending Games Section -->
    {% with current_page='flyufo-io' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}
    
    <!-- FAQ Section -->
    {% include 'components/faq_section.html' %}
</div>
{% endblock %}
