{% extends "base.html" %}

{% block title %}Hex A Mong - Play Hex A Mong On Bear Clicker Game{% endblock %}

{% block meta_description %}
<meta name="description" content="Play Hex A Mong unblocked, a thrilling space adventure! Run on disappearing hexagons, avoid falling, and find the longest path to survive. Enjoy this free, addi...">
<link rel="canonical" href="https://bearclicker.net/hex-a-mong">
{% endblock %}

{% block og_title %}Hex A Mong - Play Hex A Mong On Bear Clicker Game{% endblock %}
{% block og_description %}Play Hex A Mong unblocked, a thrilling space adventure! Run on disappearing hexagons, avoid falling, and find the longest path to survive. Enjoy this free, addi...{% endblock %}

{% block og_image %}https://bearclicker.net/static/images/games/hex-a-mong.jpg{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/hex-a-mong-favicon.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/hex-a-mong-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-pink-400 via-purple-500 to-indigo-600",
        blob_gradient_1="from-pink-500 to-purple-500",
        blob_gradient_2="from-purple-500 to-indigo-500",
        title_gradient="from-pink-500 via-purple-500 to-indigo-500",
        game_url="/game/hex-a-mong",
        title="Hex A Mong",
        description="Play Hex A Mong unblocked, a thrilling space adventure! Run on disappearing hexagons, avoid falling, and find the longest path to survive. Enjoy this free, addi...",
        open_in_new_tab=False
    %}
        {% include 'components/hero.html' %}
    {% endwith %}


    <!-- Trending Games Section -->
    {% with current_page='hex-a-mong' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}
    
    <!-- FAQ Section -->
    {% include 'components/faq_section.html' %}
</div>
{% endblock %}
