{% extends "base.html" %}

{% block title %}Idle Mining Empire - Play Idle Mining Empire On Bear Clicker Game{% endblock %}

{% block meta_description %}
<meta name="description" content="Enjoy Idle Mining Empire is a game with the mechanics of a factory. You need to exploit natural resources and sell them in the market.
Use tools like eleva...">
<link rel="canonical" href="https://bearclicker.net/idle-mining-empire">
{% endblock %}

{% block og_title %}Idle Mining Empire - Play Idle Mining Empire On Bear Clicker Game{% endblock %}
{% block og_description %}Enjoy Idle Mining Empire is a game with the mechanics of a factory. You need to exploit natural resources and sell them in the market.
Use tools like eleva...{% endblock %}

{% block og_image %}https://bearclicker.net/static/images/games/idle-mining-empire.jpg{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/idle-mining-empire-favicon.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/idle-mining-empire-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-pink-400 via-purple-500 to-indigo-600",
        blob_gradient_1="from-pink-500 to-purple-500",
        blob_gradient_2="from-purple-500 to-indigo-500",
        title_gradient="from-pink-500 via-purple-500 to-indigo-500",
        game_url="/game/idle-mining-empire",
        title="Idle Mining Empire",
        description="Enjoy Idle Mining Empire is a game with the mechanics of a factory. You need to exploit natural resources and sell them in the market.
Use tools like eleva...",
        open_in_new_tab=False
    %}
        {% include 'components/hero.html' %}
    {% endwith %}


    <!-- Trending Games Section -->
    {% with current_page='idle-mining-empire' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}
    
    <!-- FAQ Section -->
    {% include 'components/faq_section.html' %}
</div>
{% endblock %}
