{% extends "base.html" %}

{% block title %}Knife Hit - Play Knife Hit On Bear Clicker Game{% endblock %}

{% block meta_description %}
<meta name="description" content="Enjoy Knife Hit is probably the most exciting game in the Idle Games series. Have you joined the game yet? Don't miss these fun games. Practice your knife-t...">
<link rel="canonical" href="https://bearclicker.net/knife-hit">
{% endblock %}

{% block og_title %}Knife Hit - Play Knife Hit On Bear Clicker Game{% endblock %}
{% block og_description %}Enjoy Knife Hit is probably the most exciting game in the Idle Games series. Have you joined the game yet? Don't miss these fun games. Practice your knife-t...{% endblock %}

{% block og_image %}https://bearclicker.net/static/images/games/knife-hit.jpg{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/knife-hit-favicon.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/knife-hit-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-pink-400 via-purple-500 to-indigo-600",
        blob_gradient_1="from-pink-500 to-purple-500",
        blob_gradient_2="from-purple-500 to-indigo-500",
        title_gradient="from-pink-500 via-purple-500 to-indigo-500",
        game_url="/game/knife-hit",
        title="Knife Hit",
        description="Enjoy Knife Hit is probably the most exciting game in the Idle Games series. Have you joined the game yet? Don't miss these fun games. Practice your knife-t...",
        open_in_new_tab=False
    %}
        {% include 'components/hero.html' %}
    {% endwith %}


    <!-- Trending Games Section -->
    {% with current_page='knife-hit' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}
    
    <!-- FAQ Section -->
    {% include 'components/faq_section.html' %}
</div>
{% endblock %}
