{% extends "base.html" %}

{% block title %}Pop Us - Play Pop Us On Bear Clicker Game{% endblock %}

{% block meta_description %}
<meta name="description" content="Enjoy Pop Us is a fun game for entertainment with colorful bubbles where you can choose your favorite shapes, combine them, and play. Never been so exciting...">
<link rel="canonical" href="https://bearclicker.net/pop-us">
{% endblock %}

{% block og_title %}Pop Us - Play Pop Us On Bear Clicker Game{% endblock %}
{% block og_description %}Enjoy Pop Us is a fun game for entertainment with colorful bubbles where you can choose your favorite shapes, combine them, and play. Never been so exciting...{% endblock %}

{% block og_image %}https://bearclicker.net/static/images/games/pop-us.jpg{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/pop-us-favicon.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/pop-us-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-pink-400 via-purple-500 to-indigo-600",
        blob_gradient_1="from-pink-500 to-purple-500",
        blob_gradient_2="from-purple-500 to-indigo-500",
        title_gradient="from-pink-500 via-purple-500 to-indigo-500",
        game_url="/game/pop-us",
        title="Pop Us",
        description="Enjoy Pop Us is a fun game for entertainment with colorful bubbles where you can choose your favorite shapes, combine them, and play. Never been so exciting...",
        open_in_new_tab=False
    %}
        {% include 'components/hero.html' %}
    {% endwith %}


    <!-- Trending Games Section -->
    {% with current_page='pop-us' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}
    
    <!-- FAQ Section -->
    {% include 'components/faq_section.html' %}
</div>
{% endblock %}
