{% extends "base.html" %}

{% block title %}Poppy Playtime - Play Poppy Playtime On Bear Clicker Game{% endblock %}

{% block meta_description %}
<meta name="description" content="Enjoy Poppy Playtime is a horror game developed by MOB Games and released on October 12, 2021. You play as an ex-worker of Playtime Co. and return to the ab...">
<link rel="canonical" href="https://bearclicker.net/poppy-playtime">
{% endblock %}

{% block og_title %}Poppy Playtime - Play Poppy Playtime On Bear Clicker Game{% endblock %}
{% block og_description %}Enjoy Poppy Playtime is a horror game developed by MOB Games and released on October 12, 2021. You play as an ex-worker of Playtime Co. and return to the ab...{% endblock %}

{% block og_image %}https://bearclicker.net/static/images/games/poppy-playtime.jpg{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/poppy-playtime-favicon.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/poppy-playtime-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-pink-400 via-purple-500 to-indigo-600",
        blob_gradient_1="from-pink-500 to-purple-500",
        blob_gradient_2="from-purple-500 to-indigo-500",
        title_gradient="from-pink-500 via-purple-500 to-indigo-500",
        game_url="/game/poppy-playtime",
        title="Poppy Playtime",
        description="Enjoy Poppy Playtime is a horror game developed by MOB Games and released on October 12, 2021. You play as an ex-worker of Playtime Co. and return to the ab...",
        open_in_new_tab=False
    %}
        {% include 'components/hero.html' %}
    {% endwith %}


    <!-- Trending Games Section -->
    {% with current_page='poppy-playtime' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}
    
    <!-- FAQ Section -->
    {% include 'components/faq_section.html' %}
</div>
{% endblock %}
