{% extends "base.html" %}

{% block title %}Pull Mermaid Out - Play Pull Mermaid Out On Bear Clicker Game{% endblock %}

{% block meta_description %}
<meta name="description" content="Enjoy Pull Mermaid Out is a puzzle game where your task is to help the mermaid find her way home by removing yellow pins, collecting stars, and safely retur...">
<link rel="canonical" href="https://bearclicker.net/pull-mermaid-out">
{% endblock %}

{% block og_title %}Pull Mermaid Out - Play Pull Mermaid Out On Bear Clicker Game{% endblock %}
{% block og_description %}Enjoy Pull Mermaid Out is a puzzle game where your task is to help the mermaid find her way home by removing yellow pins, collecting stars, and safely retur...{% endblock %}

{% block og_image %}https://bearclicker.net/static/images/games/pull-mermaid-out.jpg{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/pull-mermaid-out-favicon.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/pull-mermaid-out-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-pink-400 via-purple-500 to-indigo-600",
        blob_gradient_1="from-pink-500 to-purple-500",
        blob_gradient_2="from-purple-500 to-indigo-500",
        title_gradient="from-pink-500 via-purple-500 to-indigo-500",
        game_url="/game/pull-mermaid-out",
        title="Pull Mermaid Out",
        description="Enjoy Pull Mermaid Out is a puzzle game where your task is to help the mermaid find her way home by removing yellow pins, collecting stars, and safely retur...",
        open_in_new_tab=False
    %}
        {% include 'components/hero.html' %}
    {% endwith %}


    <!-- Trending Games Section -->
    {% with current_page='pull-mermaid-out' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}
    
    <!-- FAQ Section -->
    {% include 'components/faq_section.html' %}
</div>
{% endblock %}
