{% extends "base.html" %}

{% block title %}Play Golf Hit On Bear Clicker Game{% endblock %}

{% block meta_description %}
<meta name="description" content="Scrandle: A daily food guessing game where football fans rate stadium meals. Guess right, build your streak, and dive into delicious game day debates.">
{% endblock %}

{% block og_title %}Play Golf Hit On Bear Clicker Game{% endblock %}
{% block og_description %}Play Golf Hit and send the ball flying! Hit as far as possible, aiming for birdies and eagles to earn coins for powerful upgrades.{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/golf-hit-favicon.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/golf-hit-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-pink-400 via-purple-500 to-indigo-600",
        blob_gradient_1="from-pink-500 to-purple-500",
        blob_gradient_2="from-purple-500 to-indigo-500",
        title_gradient="from-pink-500 via-purple-500 to-indigo-500",
        game_url="https://bearclicker.net/game/golf-hit",
        title="Golf Hit",
        description="Golf Hit: Play Golf Hit and send the ball flying! Hit as far as possible, aiming for birdies and eagles to earn coins for powerful upgrades."
    %}
        {% include 'components/hero.html' %}
    {% endwith %}


    <!-- Trending Games Section -->
    {% with current_page='golf-hit' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}
    

    
   <!-- FAQ Section -->
{% include 'components/faq_section.html' %}
</div>
{% endblock %}
