{% extends "base.html" %}

{% block title %}Squid Game - Play Squid Game On Bear Clicker Game{% endblock %}

{% block meta_description %}
<meta name="description" content="Enjoy Squid Game is one of the hottest online games today. Have you joined the game yet? Before you start, you need to know the rules of the game and have a...">
<link rel="canonical" href="https://bearclicker.net/squid-game">
{% endblock %}

{% block og_title %}Squid Game - Play Squid Game On Bear Clicker Game{% endblock %}
{% block og_description %}Enjoy Squid Game is one of the hottest online games today. Have you joined the game yet? Before you start, you need to know the rules of the game and have a...{% endblock %}

{% block og_image %}https://bearclicker.net/static/images/games/squid-game.jpg{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/squid-game-favicon.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/squid-game-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-pink-400 via-purple-500 to-indigo-600",
        blob_gradient_1="from-pink-500 to-purple-500",
        blob_gradient_2="from-purple-500 to-indigo-500",
        title_gradient="from-pink-500 via-purple-500 to-indigo-500",
        game_url="/game/squid-game",
        title="Squid Game",
        description="Enjoy Squid Game is one of the hottest online games today. Have you joined the game yet? Before you start, you need to know the rules of the game and have a...",
        open_in_new_tab=False
    %}
        {% include 'components/hero.html' %}
    {% endwith %}


    <!-- Trending Games Section -->
    {% with current_page='squid-game' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}
    
    <!-- FAQ Section -->
    {% include 'components/faq_section.html' %}
</div>
{% endblock %}
