{% extends "base.html" %}

{% block title %}Sweet Candy Mania - Play Sweet Candy Mania On Bear Clicker Game{% endblock %}

{% block meta_description %}
<meta name="description" content="Enjoy Are you a big fan of the fun Sweet Candy Mania game? Sweet and colorful candies will give you a great relaxing space. Shoot and collect all the candy ...">
<link rel="canonical" href="https://bearclicker.net/sweet-candy-mania">
{% endblock %}

{% block og_title %}Sweet Candy Mania - Play Sweet Candy Mania On Bear Clicker Game{% endblock %}
{% block og_description %}Enjoy Are you a big fan of the fun Sweet Candy Mania game? Sweet and colorful candies will give you a great relaxing space. Shoot and collect all the candy ...{% endblock %}

{% block og_image %}https://bearclicker.net/static/images/games/sweet-candy-mania.jpg{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/sweet-candy-mania-favicon.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/sweet-candy-mania-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-pink-400 via-purple-500 to-indigo-600",
        blob_gradient_1="from-pink-500 to-purple-500",
        blob_gradient_2="from-purple-500 to-indigo-500",
        title_gradient="from-pink-500 via-purple-500 to-indigo-500",
        game_url="/game/sweet-candy-mania",
        title="Sweet Candy Mania",
        description="Enjoy Are you a big fan of the fun Sweet Candy Mania game? Sweet and colorful candies will give you a great relaxing space. Shoot and collect all the candy ...",
        open_in_new_tab=False
    %}
        {% include 'components/hero.html' %}
    {% endwith %}


    <!-- Trending Games Section -->
    {% with current_page='sweet-candy-mania' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}
    
    <!-- FAQ Section -->
    {% include 'components/faq_section.html' %}
</div>
{% endblock %}
