{% extends "base.html" %}

{% block title %}The Mergest Kingdom - Play The Mergest Kingdom On Bear Clicker Game{% endblock %}

{% block meta_description %}
<meta name="description" content="Enjoy The game will tell the story of The Mergest Kingdom, which is a fantastic fairy tale. Combine trees, dragons, diamonds, and whatever else you come acr...">
<link rel="canonical" href="https://bearclicker.net/the-mergest-kingdom">
{% endblock %}

{% block og_title %}The Mergest Kingdom - Play The Mergest Kingdom On Bear Clicker Game{% endblock %}
{% block og_description %}Enjoy The game will tell the story of The Mergest Kingdom, which is a fantastic fairy tale. Combine trees, dragons, diamonds, and whatever else you come acr...{% endblock %}

{% block og_image %}https://bearclicker.net/static/images/games/the-mergest-kingdom.jpg{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/the-mergest-kingdom-favicon.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/the-mergest-kingdom-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-pink-400 via-purple-500 to-indigo-600",
        blob_gradient_1="from-pink-500 to-purple-500",
        blob_gradient_2="from-purple-500 to-indigo-500",
        title_gradient="from-pink-500 via-purple-500 to-indigo-500",
        game_url="/game/the-mergest-kingdom",
        title="The Mergest Kingdom",
        description="Enjoy The game will tell the story of The Mergest Kingdom, which is a fantastic fairy tale. Combine trees, dragons, diamonds, and whatever else you come acr...",
        open_in_new_tab=False
    %}
        {% include 'components/hero.html' %}
    {% endwith %}


    <!-- Trending Games Section -->
    {% with current_page='the-mergest-kingdom' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}
    
    <!-- FAQ Section -->
    {% include 'components/faq_section.html' %}
</div>
{% endblock %}
