{% extends "base.html" %}

{% block title %}Play Traffic Road - Play Traffic Road On Cookie Clicker ...{% endblock %}

{% block meta_description %}
<meta name="description" content="Enjoy Traffic Road is a thrilling racing game where you must drive through busy streets. The objective of the game is to pass other automobiles and reach un...">
<link rel="canonical" href="https://bearclicker.net/traffic-road">
{% endblock %}

{% block og_title %}Play Traffic Road - Play Traffic Road On Cookie Clicker ...{% endblock %}
{% block og_description %}Enjoy Traffic Road is a thrilling racing game where you must drive through busy streets. The objective of the game is to pass other automobiles and reach un...{% endblock %}

{% block og_image %}https://bearclicker.net/static/images/games/traffic-road.jpg{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/traffic-road-favicon.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/traffic-road-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-pink-400 via-purple-500 to-indigo-600",
        blob_gradient_1="from-pink-500 to-purple-500",
        blob_gradient_2="from-purple-500 to-indigo-500",
        title_gradient="from-pink-500 via-purple-500 to-indigo-500",
        game_url="/game/traffic-road",
        title="Traffic Road",
        description="Enjoy Traffic Road is a thrilling racing game where you must drive through busy streets. The objective of the game is to pass other automobiles and reach un...",
        open_in_new_tab=False
    %}
        {% include 'components/hero.html' %}
    {% endwith %}


    <!-- Trending Games Section -->
    {% with current_page='traffic-road' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}
    
    <!-- FAQ Section -->
    {% include 'components/faq_section.html' %}
</div>
{% endblock %}
