{% extends "base.html" %}

{% block title %}Wood Block Puzzle - Play Wood Block Puzzle On Bear Clicker Game{% endblock %}

{% block meta_description %}
<meta name="description" content="Enjoy One of the best games for brain training is the Wood Block Puzzle. This game has all of the features that a decent block puzzle game should have. Arra...">
<link rel="canonical" href="https://bearclicker.net/wood-block-puzzle">
{% endblock %}

{% block og_title %}Wood Block Puzzle - Play Wood Block Puzzle On Bear Clicker Game{% endblock %}
{% block og_description %}Enjoy One of the best games for brain training is the Wood Block Puzzle. This game has all of the features that a decent block puzzle game should have. Arra...{% endblock %}

{% block og_image %}https://bearclicker.net/static/images/games/wood-block-puzzle.jpg{% endblock %}

{% block favicon %}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon/wood-block-puzzle-favicon.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/wood-block-puzzle-apple-touch-icon.png') }}">
{% endblock %}

{% block content %}
<div class="relative overflow-hidden">
    {% with 
        gradient_colors="from-pink-400 via-purple-500 to-indigo-600",
        blob_gradient_1="from-pink-500 to-purple-500",
        blob_gradient_2="from-purple-500 to-indigo-500",
        title_gradient="from-pink-500 via-purple-500 to-indigo-500",
        game_url="/game/wood-block-puzzle",
        title="Wood Block Puzzle",
        description="Enjoy One of the best games for brain training is the Wood Block Puzzle. This game has all of the features that a decent block puzzle game should have. Arra...",
        open_in_new_tab=False
    %}
        {% include 'components/hero.html' %}
    {% endwith %}


    <!-- Trending Games Section -->
    {% with current_page='wood-block-puzzle' %}
    {% include 'components/trending_games.html' %}
    {% endwith %}
    
    <!-- FAQ Section -->
    {% include 'components/faq_section.html' %}
</div>
{% endblock %}
